:root{
    --header-color:#212121;
    --first-title-color:#212121;
    --second-title-color: #2196F3;
    --first-btn-color: #FFFFFF;
    --second-btn-color: #2196F3;
    --accent-color:#2196F3;
}


body {
color: #757575;
font-family: Roboto, sans-serif; 
}



.header-list, .about-list, .work-list, .team-list, .address-list, .section-list{
    list-style: none;
}

.header-link, .header-mail, .header-tel,  .address-mail, .address-tel {
    text-decoration: none;
}

/*--------HEADER-------*/

.header-logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: #000000;
}

.logo-web {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo-studio {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.header-link, .header-mail, .header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-color)
}

.header-link.current{
    color: var(--accent-color)
}

.header-link:hover,
.header-link:focus{
color: var(--accent-color)
}

.header-tel, .header-mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: #757575;
}

.header-tel:hover,
.header-tel:focus {
color: var(--accent-color)
}

.header-mail:hover,
.header-mail:focus {
color: var(--accent-color)
}

/*--------HERO-------*/


.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero-content{
    background-color: #2F303A;
}

.hero-btn{
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1,88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3; 
}

/*--------ABOUT-------*/

.about-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121
}

.text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

/*--------WORK-------*/

.work-title{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/*--------TEAM-------*/

.team-title{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;   
}

.team{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.text-team{
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/*--------FOOTER-------*/

.address-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.address-web{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.address-studio{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.text-address{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.address-mail, .address-tel{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.address-content{
background: #2F303A;
}

.section-btn{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
cursor: pointer;
}


/*--------SECTION-------*/

.section-btn:hover,
.section-btn:focus{
color: var(--first-btn-color);
background-color:var(--accent-color)
}

.button{
position: absolute;
width: 103px;
height: 38px;
left: 865px;
top: 170px;
background: #F5F4FA;
border-radius: 4px;
}

.section-title{
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: #212121;
}

.section-text{
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}